.highlight() {
  @import './highlight/index.less';
}

.hljs-light() {
  @import './highlight/light.less';
  .hljs-colors();
}

.hljs-dark() {
  @import './highlight/dark.less';
  .hljs-colors();
}

.hljs-colors() {
  @import './highlight/colors.less';
}

.katex() {
  @import './katex.less';
}

.theme() {
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.2px;
  word-break: break-word;
  overflow-x: hidden;

  @import './theme.less';
  .highlight();
}
